*{
    padding: 0px;
    margin: 0px;
}
.outer{
    /* background-color: rgb(31, 200, 31); */
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-repeat: no-repeat;
}
#heading{
    font-size: 25px;
    padding: 10px;
    margin: 0px 0px 0px 22px;
}
.list{
    font-size: 25px;
    padding: 30px;
    display: flex;
    display: inline-block;
    margin: 30px 0px 0px 1350px;
    justify-content: space-evenly;
    align-items: flex-end;
}
.box{
    padding: 35px;
    background-color: rgba(255, 0, 0, 0.39);
    height: 350px;
    width: 1600px;
    margin: 10px;
}
#box{
    background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,182,56,0.9335084375547094) 0%, rgba(0,212,255,1) 100%);
}
#img1{
    padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/India.jpg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
    
}
.content1{
    padding: 20px;
    height: 285px;
    width: 1039px;
    font-size: 20px;
    margin: -328px 0px 0px 528px;
}
#box1{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


}
#img2{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/Raigad.jpg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content2{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
#box2{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
}
#img3{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/Jaisalmer.jpg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content3{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
li{
    margin: 0px 0px 0px 20px;
}
#box3{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
#img4{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/Gateway\ of\ india.webp);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content4{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
#box4{
    background: #2F7336;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #AA3A38, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #AA3A38, #2F7336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#img5{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/Goa\ beach.jpeg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content5{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
#box5{
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#img6{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/Ellora\ caves.jpg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content6{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
#box6{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#img7{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/Mehrangarh\ Fort\,Jodhpur.jpg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content7{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
#box7{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#img8{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/The\ Holy\ City\ Of\ Varanasi.jpeg);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content8{
    padding: 20px;
    height: 286px;
    width: 1039px;
    font-size: 20px;
    margin: -325px 0px 0px 525px;
}
#box8{
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );

}
#img9{ padding: 20px;
    height: 288px;
    width: 470px;
    background-image: url(Images/The\ Ganga\ River);
    display: flex;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 0px 0px -20px;
}
.content9{
    padding: 20px;
    height: 286px;
    font-size: 20px;
    width: 1039px;
    margin: -325px 0px 0px 525px;
}
.footer{
    height: 80px;
}
#hr{
    margin: 50px 0px 0px 80px;
    width: 1500px;
}
#website{
    padding: 10px;
    margin: 5px 0px 0px 100px;
}
#logo{
    font-size: 25px;
    padding: 10px;
    position: relative;
    margin: -94px 0px 0px 450px;
}