*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(230, 95, 118);
   border: double;
}
.outer{
    height: 610px;
    width: 840px;
    background-color: white;
    position: fixed;
    box-shadow: 13px 15px 10px -4px;
    margin: 123px 0px 0px 470px;
}
#heading{
    margin: 10px 0px 0px 350px;
}
.label{
    position: absolute;
    margin:24px 0px 0px -1px;
}
 
.input{
    height: 30px;
    width: 500px;
    border: 2px solid black;
    border-top: none;
    border-left: none;
   margin: 35px 0px -3px 0px;
}
#input{
    width: 245px;
}
.form{
    height: 525px;
    width: 575px;
    margin: 15px 0px 0px 146px;  
}
#textarea{
    height: 80px;
}
.submit{
    background-color: rgba(232, 32, 65, 0.852);
    height: 37px;
    width: 141px;
    border-radius: 20px;
    border: none;
    position: absolute;
    margin: -47px 0px 0px 350px;
    box-shadow: 5px 7px 6px -2px;
}